#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #04335b
}
.table-wrap {
  max-width: 801px;
  margin: 80px auto;
  overflow-x: auto;
}
table, td, th {
  border: 1px solid #ddd;
      white-space: nowrap;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}

.box-wrap {
  padding: 0px 16px;
}

.bodyTable {
  display: contents;
}

.tableImg {
  width: 20px;
}
.tableImgButton {
  background-color: #04335b
}
fieldset {
  border: none;
}

h3 {
  font-size: 50px;
}

input {
  width: 300px;
  height: 30px;
}

.register_container, .login_container {
  border: 1px solid white;
  padding: 0 30px 40px 30px
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}